<div class="card-container col-12 col-sm-6 col-md-{{ rows }} px-5">
    <a href="#">
        <div class="card-image" style="background-image: url({{card_background | img_url: '480x' }})"></div>
        <div class="card-info">
            <p class="card-title text-uppercase">{{ card_title }}</p>
            <p class="card-action">view more</p>
        </div>
    </a>
</div>