<div class="col-12">
    <a href="#" class="card card-full">
        <div class="card-background" style="background-image: url({{card_background | file_img_url: '1024x' }})"></div>
        <div class="card-body">
            <p class="card-title">{{ card_title }}</p>
        </div>
    </a>
</div>