<div class="container pt-5">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-sm-6 offset-sm-3">
                    <form action="#" method="get" class="mb-5">
                        <div class="form-group text-center">
                            <label for="email" class="text-uppercase font-accent mb-3"></label>
                            {% comment %} <input id="email" type="email" placeholder="email" class="form-control font-accent text-uppercase text-center col-6 offset-3"> {% endcomment %}
                        </div>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <p class="font-accent text-uppercase">&copy;2021 Montana Burnett Design</p>
                </div>
                {% comment %} <div class="d-flex flex-row justify-content-end col-sm-8">
                    <a href="#" class="font-accent text-uppercase ml-3">Contact</a>
                    <a href="#" class="font-accent text-uppercase ml-3">About</a>
                    <a href="#" class="font-accent text-uppercase ml-3">Terms</a>
                    <a href="#" class="font-accent text-uppercase ml-3">Shipping</a>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Footer",
        "class": "footer",
        "tag": "footer",
        "settings": [
        
        ]
    }
{% endschema %}
