.box {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    text-decoration: none !important;
    transition: linear 150ms;

    .box-image-wrapper {
        width: 100%;
        display: block;
        background-size: cover;
        background-position: center;
        
        &:after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }

    }

    .box-info {
        
        h3 {
            text-transform: uppercase;
            font-size: 1.25rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}