section {

    .section-heading {
        text-align: center;
    }
}

section.coming-soon {
    background-image: url('https://cdn.shopify.com/s/files/1/0513/8081/3974/files/shop.jpg?v=1620156359');
    min-height: 70vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    h2 {
        color: black;
        margin: 1em;
        text-transform: uppercase;
        background-color: $backgroundAccent;
        line-height: 1;
        padding: 1rem;
        padding-top: 1.25rem;
    }
}