@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");
.bg-light {
  background-color: white !important;
}

.bg-accent {
  background-color: #F3F1F0 !important;
}

.bg-cream {
  background-color: #D1C5B8 !important;
}

.font-accent {
  font-size: 0.85rem;
  letter-spacing: 0.1em;
  color: #192831;
}

.form-control {
  border-color: transparent;
  border-radius: 0;
  border-bottom: solid thin #192831;
  color: #192831;
  outline: none;
}

.form-control:focus, .form-control:active {
  border-color: transparent;
  border-bottom-color: #C9C2B5;
  -webkit-box-shadow: none;
          box-shadow: none;
}

a {
  text-decoration: none;
  color: #192831;
}

a:hover {
  color: #C9C2B5;
}

.card-list .card-container a .card-info .card-action, .mega-menu-container *, .mega-menu-container .mega-menu a {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
}

.fancy-heading {
  font-size: 2em;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300 !important;
}

.announcement {
  background-color: #F3F1F0;
}

.announcement .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.announcement .container .announcement-message {
  margin: 0.5rem 0;
  padding: 0;
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #192831;
}

body {
  background-color: white !important;
  color: #192831;
}

* {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.1em;
  font-weight: 300;
}

.card-list .card-container a {
  text-decoration: none;
}

.card-list .card-container a .card-image {
  position: relative;
  background-position: center;
  background-size: cover;
  border-radius: 0;
  border: none;
  margin: 1rem 0;
  margin-bottom: 0.5rem;
}

.card-list .card-container a .card-image:after {
  content: "";
  padding-bottom: 100%;
  display: block;
}

.card-list .card-container a .card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-list .card-container a .card-info .card-action {
  -webkit-transform: translateX(-5rem);
          transform: translateX(-5rem);
  opacity: 0;
}

.card-list .card-container a:hover .card-info > .card-action {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.project-card > a {
  text-decoration: none;
}

.project-card .project-preview-image {
  min-height: 25rem;
  background-size: cover;
  background-position: center;
}

.project-card .project-link {
  border: solid thin #343a40;
  padding: 0.75em 1em;
  text-transform: uppercase;
  font-size: 0.8em;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: linear 100ms;
  transition: linear 100ms;
}

.project-card .project-link:hover {
  background-color: #343a40;
  color: #fff !important;
}

.project-card .project-title {
  position: relative;
}

.project-card .project-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: solid thin #343a40;
  width: 0%;
  -webkit-transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 100ms;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 100ms;
}

.project-card:hover {
  cursor: pointer;
}

.project-card:hover .project-title::after {
  width: 100%;
}

.project-card:hover .project-link {
  background-color: #343a40;
  color: #fff !important;
}

.header {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "brand nav nav nav cart";
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2.5rem;
  padding-top: 2.5rem;
  padding-bottom: 0.5rem;
  background-color: white;
}

.header.header-center {
      grid-template-areas: "brand nav nav";
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.header.header-center .nav {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header .brand {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: brand;
  text-align: left;
}

.header .brand img {
  width: 360px;
  max-width: 100%;
}

.header .brand span {
  font-weight: lighter;
  letter-spacing: 0.1em;
  font-size: 0.85rem;
}

.header .brand a {
  text-decoration: none;
}

.header .brand a .brand-text {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  font-weight: 300;
}

.header .nav {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: nav;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .nav .nav-item .nav-link {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.85rem;
  color: #192831;
  font-weight: 400;
  padding-bottom: 0;
}

.header .nav .nav-item .nav-link:hover {
  color: #C9C2B5;
}

.header .nav .nav-item .nav-link.active {
  color: #C9C2B5;
}

.header .nav-mobile {
  grid-area: nav-mobile;
}

.header .nav-mobile .nav-mobile-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  background-color: #00000088;
}

.header .nav-mobile .nav-mobile-menu {
  position: fixed;
  top: 0;
  background-color: snow;
  left: 0;
  height: 100%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .nav-mobile .nav-mobile-menu a {
  padding: 1rem;
  min-width: 240px;
}

.header .cart {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: cart;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .cart .cart-link {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.5rem;
  color: #192831;
  text-decoration: none;
}

.header .cart .cart-link:hover {
  color: #C9C2B5;
}

@media only screen and (max-width: 1026px) {
  .header {
    padding: 1rem;
  }
  .header.header-center {
        grid-template-areas: "brand brand nav";
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .header.header-center .nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.list-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  border-radius: 0;
}

.list-group .list-group-item {
  border: none;
}

.feature-slider .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.feature-slider .feature.feature-fullscreen {
  height: 80vh;
}

.feature-slider .feature .feature-card {
  background: transparent;
  padding: 1rem;
  max-width: 480px;
  margin: 5%;
  text-align: center;
  margin-bottom: 8rem;
}

.feature-slider .feature .feature-card .feature-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0.25em;
}

.feature-slider .feature .feature-card .feature-subtitle {
  margin: 0;
  margin-bottom: 0.25rem;
}

.feature-slider .feature .feature-card .feature-action {
  text-decoration: none;
  -webkit-transition: linear 100ms;
  transition: linear 100ms;
  position: relative;
  color: #192831;
}

.feature-slider .feature .feature-card .feature-action::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 0.05em;
  background-color: #192831;
  -webkit-transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 150ms;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 150ms;
}

.feature-slider .feature .feature-card .feature-action:hover::after {
  width: calc(100% - 0.1em);
}

.feature-slider .owl-dots {
  display: none;
}

.message-container .message-text {
  padding: 2rem;
  text-align: center;
  margin: 0;
  font-size: 1.25rem;
  font-style: italic;
}

.message-container .message-text:after, .message-container .message-text:before {
  content: "\"";
}

section .section-heading {
  text-align: center;
}

section.coming-soon {
  background-image: url("https://cdn.shopify.com/s/files/1/0513/8081/3974/files/st-clair_1.jpg?v=1617945511");
  min-height: 70vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

section.coming-soon h2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 1em;
  text-transform: uppercase;
}

.mega-menu-toggle:checked ~ .mega-menu-container {
  pointer-events: all;
  visibility: visible;
}

.mega-menu-toggle:checked ~ .mega-menu-container .mega-menu-backdrop {
  opacity: 1;
}

.mega-menu-toggle:checked ~ .mega-menu-container .mega-menu-title {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mega-menu-toggle:checked ~ .mega-menu-container .mega-menu {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mega-menu-container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  pointer-events: none;
  visibility: hidden;
}

.mega-menu-container .mega-menu-close {
  position: fixed;
  right: 0;
  top: 0;
  color: #ffffff88;
  font-size: 5vh;
  line-height: 1;
  margin: 1rem;
  cursor: pointer;
  z-index: 1;
}

.mega-menu-container .mega-menu-close:hover {
  color: white;
}

.mega-menu-container .mega-menu-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: #00000088;
  opacity: 0;
}

.mega-menu-container .mega-menu-title {
  background-color: #F3F1F0;
  color: #192831;
  padding: 2.5rem;
  text-transform: uppercase;
  font-size: 0.85rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
}

.mega-menu-container .mega-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F3F1F0;
  height: 100%;
  padding-top: 2rem;
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
  min-width: 15rem;
}

.mega-menu-container .mega-menu a {
  color: #192831;
  padding: 0.5rem 2rem 0.5rem 1rem;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.85rem;
}

.mega-menu-container .mega-menu a:after {
  content: "";
  border-bottom: solid thin #fff3;
  width: 90%;
  left: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: auto;
}

.mega-menu-container .mega-menu a:hover {
  background-color: #D2C3AA;
  color: ghostwhite;
}

.has-mega-menu label {
  cursor: pointer;
}

.has-mega-menu label a {
  pointer-events: none;
}

.nav-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  left: 100%;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #F3F1F0;
  z-index: 1000;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: linear 100ms;
  transition: linear 100ms;
}

.nav-mobile .nav-mobile-close {
  padding: 1rem;
}

.nav-mobile .nav-mobile-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.nav-mobile .nav-mobile-links a {
  padding: 1rem;
  padding-right: 0;
  text-align: right;
  padding: 1rem;
}

.nav-mobile .nav-mobile-links a.active {
  color: #C9C2B5;
}

.nav-mobile .nav-mobile-sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-mobile .nav-mobile-sub-menu .sub-menu-title {
  margin-bottom: 0;
  position: relative;
}

.nav-mobile .nav-mobile-sub-menu .sub-menu-title::before {
  content: '\f067';
  font-family: 'Line Awesome Free';
  font-weight: 900;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.nav-mobile .nav-mobile-sub-menu .sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #dcd7d4;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: linear 100ms;
  transition: linear 100ms;
}

.nav-mobile .nav-mobile-sub-menu .sub-menu-toggle:checked + .sub-menu {
  max-height: 100%;
}

input[type="checkbox"].nav-mobile-toggle:checked ~ .nav-mobile {
  left: 0;
}

.bg-accent {
  background-color: #F3F1F0;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem;
  text-decoration: none !important;
  -webkit-transition: linear 150ms;
  transition: linear 150ms;
}

.box .box-image-wrapper {
  width: 100%;
  display: block;
  background-size: cover;
  background-position: center;
}

.box .box-image-wrapper:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.box .box-info h3 {
  text-transform: uppercase;
  font-size: 1.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.feature-section .image-wrapper {
  background-size: cover;
  background-position: center;
}

.feature-section .image-wrapper::after {
  content: "";
  display: block;
  padding-bottom: 50%;
}

.project {
  text-decoration: none !important;
}

.project .project-screen {
  background-size: cover;
  background-position: center;
  display: block;
  cursor: pointer;
}

.project .project-screen::after {
  content: "";
  padding-bottom: 35em;
  display: block;
}

.project-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.project-card::before {
  content: "";
  padding-bottom: 100%;
}

.project-card .project-preview-image,
.project-card .project-info {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.project-card .project-preview-image {
  z-index: -1;
}

.project-card .project-info, .project-card .project-info * {
  -webkit-transition: linear 150ms;
  transition: linear 150ms;
}

.project-card .project-info {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(243, 241, 240, 0.95);
}

.project-card .project-info .project-title {
  font-size: x-large;
  opacity: 1;
  text-decoration: none;
}

.swipper-toggle:checked + .swiper-container {
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.swiper-container {
  position: fixed !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000b;
  z-index: 1000;
  padding: 2rem 0 !important;
  visibility: hidden;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  -webkit-transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 150ms;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 150ms;
}

.swiper-container .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 1rem;
}

.swiper-container .swiper-slide img {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}

.swiper-container .swipper-close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.5rem 1rem;
  font-size: 3em;
  color: #ddd;
  z-index: 1000;
  cursor: pointer;
  -webkit-transition: 150ms linear;
  transition: 150ms linear;
}

.swiper-container .swipper-close:hover {
  color: white;
}

section.about .about-image {
  min-height: 30vh;
  background-size: cover;
  background-position: center;
  margin: 5em 0;
  background-attachment: fixed;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form .field-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
}

form .field-set label {
  margin-bottom: 0.25em;
  line-height: 1;
  text-transform: capitalize;
}

form .field-set input, form .field-set textarea {
  border: solid thin #c9c2b5;
  padding: 0.5rem;
  outline: none;
  -webkit-transition: linear 150ms;
  transition: linear 150ms;
}

form .field-set input:focus, form .field-set textarea:focus {
  border-color: #192831;
}

input[type="submit"], button {
  background-color: #C9C2B5;
  color: white;
  border: solid thin #C9C2B5;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  -webkit-transition: linear 150ms;
  transition: linear 150ms;
}

input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active, button:hover, button:focus, button:active {
  background-color: #192831;
  border-color: #192831;
}

.swiper-container .swiper-button-next:after, .swiper-container .swiper-button-prev:after {
  color: #ddd;
}

.swiper-container .swiper-button-next:after:hover, .swiper-container .swiper-button-prev:after:hover {
  color: white;
}

.swiper-container .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: white;
}
/*# sourceMappingURL=theme.css.map */